@media screen and (max-width: 1900px) {
  .container {
    padding: 0 90px;
    height: inherit;
    margin: 0 auto;
  }

  #header {
    padding-bottom: 50px;
    .cover-text-area {
      .container {
        .header-main {
          .header-main-right {
            ul {
              li {
                a {
                  .btn {
                    width: 60px;
                    height: 60px;
                    margin: 10px 10px 10px 0;
                  }
                  h3 {
                    font-size: 4.2rem;
                  }
                }
              }
            }
          }
          .header-main-left {
            .top {
              .top-text {
                font-size: 2.3rem;
              }
            }
            .bottom {
              .introduce {
                font-size: 1.1rem;
              }
              .text-box {
                .speech-bubble {
                  width: 250px;
                }
                h4 {
                  font-size: 1.1rem;
                  top: 18%;
                  left: 11%;
                }
              }
            }
          }
        }
      }
    }
  }
  #main {
    .concept {
      .concept-top {
        .typo {
          .typo-text {
            .font {
              font-size: 2.5rem;
            }
          }
        }
      }
      .concept-bottom {
        .reson-text {
          p {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  #main {
    .project-make {
      .top_bg {
        .imgbg {
          height: 400px;
        }
      }
      .title {
        .en {
          font-size: 2.2rem;
        }
        .ko {
          font-size: 2.2rem;
          top: -30px;
        }
      }
      .top-area {
        padding-top: 30px;
        .text {
          .project-info {
            p {
              font-size: 1.15rem;
              line-height: 160%;
            }
          }
        }
      }
    }
    .concept {
      .concept-top {
        .typo {
          margin-right: 50px;
        }
      }
      .concept-bottom {
        .reson-text {
          p {
            width: 100%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1260px) {
  #header {
    .cover-img-box {
      width: 400px;
      height: 390px;
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      .cover1 {
        width: 300px;
      }
      .cover2 {
        width: 282px;
        top: 8px;
      }
    }
    .cover-text-area {
      .container {
        .header-main {
          .header-main-right {
            ul {
              li {
                &:first-child {
                  margin-right: 30px;
                }
                a {
                  .btn {
                    width: 50px;
                    height: 50px;
                    .arrow {
                      width: 12px;
                    }
                  }
                  h3 {
                    font-size: 3.2rem;
                    padding-bottom: 0;
                  }
                }
              }
            }
          }
          .header-main-left {
            .top {
              .top-text {
                font-size: 1.8rem;
                &.web {
                  padding-left: 65px;
                }
              }
            }
            .bottom {
              .text-box {
                .speech-bubble {
                  width: 230px;
                }
                h4 {
                  font-size: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
  #main {
    .about {
      .info-area {
        display: block;
        border-bottom: none;
        height: inherit;
        margin-top: 35px;
        .left {
          width: 100%;
          .picture {
            width: 100%;
            &::after {
              border-radius: 50px 50px 0 0;
            }
            .img-box {
              top: 20px;
            }
          }
          .info-text {
            width: 100%;
            .name {
              height: fit-content;
              padding: 30px 0;
            }
            .contact {
              height: fit-content;
              padding: 30px 0;
            }
            .license {
              height: fit-content;
              padding: 30px 0;
              border-bottom: 1px solid #817A65;
            }
          }
        }
        .right {
          width: 100%;
          margin-top: 0;
          border-left: none;
          .introduce {
            display: block;
            height: inherit;
            .introduce-text {
              padding: 30px 0;
              width: 100%;
            }
            .introduce-img {
              display: none;
            }
          }
          .skill {
            .text {
              padding: 30px 0;
              .box1 {
                width: calc(100%);
                padding: 0;
              }
              .box2 {
                padding: 0;
              }
            }
            .icons {
              padding: 0;
              width: 100%;
              .icon {
                width: 42px;
                height: 42px;
                object-fit: contain;
                img {
                  display: block;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
    .project-list {
      .list {
        &::after {
          left: 105px;
        }
        .item {
          a {
            .numFont {
              padding: 0 30px;
            }
            .project-title {
              padding-left: 30px;
              padding-right: 10px;
              width: 15%;
            }
          }
        }
      }
    }
    .project-make {
      .top-area {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 0;
        .text {
          width: 100%;
          .project-info {
            padding-bottom: 40px;
            position: relative;
            &::after {
              content: "";
              width: 40px;
              height: 3px;
              background: #D7D3BF;
              position: absolute;
              top: -20px;
              left: 50%;
              transform: translateX(-50%);
            }
            p {
              color: #817A65;
              font-size: 1.1rem;
              text-align: center;
              font-weight: 400;
              line-height: 200%;
              &.program {
                width: 100%;
              }
            }
          }
          .info-buttom {
            position: relative;
            p {
              text-align: center;
              padding-bottom: 30px;
              font-size: 1.1rem;
              line-height: 180%;
              &::after {
                content: "";
                width: 40px;
                height: 3px;
                background: #D7D3BF;
                position: absolute;
                top: -20px;
                left: 50%;
                transform: translateX(-50%);
              }
            }
            .site {
              margin: 0 auto;
              .ko {
                font-size: 1rem;
                margin-right: 10px;
              }
              .btn {
                width: 25px;
                height: 25px;
              }
            }
          }
        }
        .img-area {
          width: 100%;
          height: 400px;
          text-align: center;
          padding-bottom: 70px;
          img {
            width: auto;
            height: 100%;
          }
        }
      }
    }
    .img-section {
      .imgcontainer {
        .bar {
          margin: 100px 0px 60px;
        }
        .en {
          font-size: 2rem;
          top: 50px;
        }
      }
    }
    .mockup-section {
      .responsive {
        padding-top: 30px;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .yellow-title {
    .en {
      font-size: 1.2rem;
    }
  }
  .title {
    font-size: 2rem;
  }
  #header {
    .cover-text-area {
      .container {
        .header-main {
          margin-top: 45px;
          .header-main-right {
            ul {
              li {
                &:first-child {
                  margin-right: 15px;
                }
                a {
                  .btn {
                    width: 35px;
                    height: 35px;
                    .arrow {
                      width: 10px;
                    }
                  }
                  h3 {
                    font-size: 2.5rem;
                  }
                }
              }
            }
          }
          .header-main-left {
            .top {
              .top-top {
                .plus {
                  width: 20px;
                  height: 20px;
                }
              }
              .top-text {
                font-size: 1.3rem;
                &.web {
                  padding-left: 65px;
                }
              }
            }
            .bottom {
              display: none;
            }
          }
        }
      }
    }
  }
  #main {
    margin-top: 80px;
    .about {
      .info-area {
        .right {
          .skill {
            .text {
              .box2 {
                display: none;
              }
            }
          }
        }
      }
    }
    .project-list {
      margin: 120px 0;
      .list {
        margin-top: 35px;
        &::after {
          left: 50px;
        }
        .item {
          a {
            padding: 15px 0;
            .numFont {
              font-size: 1.6rem;
              padding-left: 8px;
            }
            .project-title {
              font-size: 1.2rem;
              letter-spacing: -0.5px;
            }
            .project-info {
              font-size: 1.2rem;
              letter-spacing: -0.5px;
            }
            .btn {
              height: 50px;
              .arrow {
                width: 10px;
              }
            }
          }
        }
      }
    }
    .project-make {
      &.project-make-top {
        margin-top: 120px;
      }
    }
    .img-section {
      .imgcontainer {
        .mobile {
          display: block;
        }
      }
    }
    .concept {
      .concept-title {
        font-size: 2rem;
      }
      .concept-top {
        flex-direction: column;
        align-items: center;
        .typo {
          margin-right: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          .typo-text {
            margin-bottom: 50px;
            .font {
              font-size: 1.1rem;
              &.fontName {
                font-size: 1rem;
              }
            }
          }
        }
        .color {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
      .concept-bottom {
        .reson-text {
          p {
            font-size: 1rem;
          }
        }
        .reson {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
      }
    }
    .mockup-section {
      margin-top: 160px;
      &::after {
        height: 180px;
      }
      .responsive {
        font-size: 1.6rem;
        padding-top: 20px;
      }
    }
    .wireframe {
      .concept-title {
        font-size: 2rem;
      }
      img {
        width: 100%;
        padding: 0;
      }
    }
    .sub-page {
      .concept-title {
        font-size: 2rem;
      }
    }
  }
}
@media screen and (max-width: 770px) {
  .container {
    padding: 0 40px;
  }
  #header {
    height: 80vh;
    .cover_gif {
      padding-top: 0;
    }
    .cover-text-area {
      .container {
        .header-nav {
          border: none;
          .portfolio {
            font-size: 1.1rem;
          }
          .year {
            display: none;
          }
        }
        .header-main {
          margin-top: 10px;
          display: block;
          .header-main-left {
            .top {
              .top-top {
                align-items: center;
                .plus {
                  width: 12px;
                  height: 12px;
                  padding-left: 10px;
                }
              }
              .top-text {
                font-size: 1rem;
                &.web {
                  padding-left: 0;
                  display: inline;
                }
              }
            }
          }
          .header-main-right {
            position: absolute;
            width: 100%;
            bottom: 40%;
            left: 0;
            ul {
              display: flex;
              justify-content: space-around;
              li {
                &:first-child {
                  margin-right: 0;
                }
                a {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  &:hover .btn .flower {
                    animation: flower 0.6s linear infinite;
                  }
                  &:hover h3::after {
                    width: 100%;
                  }
                  h3 {
                    writing-mode: inherit;
                    font-size: 1.4rem;
                    &::after {
                      content: "";
                      width: 0;
                      height: 100%;
                      position: absolute;
                      top: 0;
                      left: 0;
                      z-index: -1;
                      background: linear-gradient(
                        to top,
                        #ECEBDE 50%,
                        transparent 50%
                      );
                      transition: 0.3s ease-in-out;
                    }
                  }
                  .btn {
                    margin: 0 0 0 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #main {
    .about {
      .info-area {
        .left {
          .picture {
            .img-box {
              width: 230px;
              height: 280px;
              top: 35px;
            }
          }
          .info-text {
            .info {
              h2 {
                font-size: 1.2rem;
                width: 115px;
              }
            }
            .name {
              padding: 20px 0;
            }
            .contact {
              padding: 20px 0;
            }
            .license {
              padding: 20px 0;
            }
          }
        }
        .right {
          .introduce {
            .introduce-text {
              padding: 20px 0;
              h3 {
                font-size: 1.2rem;
              }
            }
          }
          .skill {
            .text {
              padding: 20px 0;
              .box1 {
                padding: 0;
                h2 {
                  font-size: 1.2rem;
                }
              }
              .box2 {
                padding: 0;
              }
            }
            .icons {
              .icon {
                img {
                }
              }
            }
          }
        }
      }
    }
    .project-list {
      .list {
        &::after {
          left: 45px;
        }
        .item {
          a {
            padding: 10px 0;
            .numFont {
              font-size: 1.4rem;
              padding-right: 20px;
            }
            .project-title {
              width: 78%;
              padding-left: 15px;
            }
            .project-info {
              display: none;
            }
            .btn {
              height: 40px;
            }
          }
        }
      }
    }
    .project-make {
      .project-num {
        .numFont {
          font-size: 1.4rem;
        }
        .en {
          font-size: 1.2rem;
        }
      }
      .title {
        .en {
          font-size: 1.4rem;
        }
        .ko {
          font-size: 1.4rem;
          top: -17px;
        }
      }
      .top_bg {
        .imgbg {
          height: 200px;
        }
      }
      .top-area {
        .img-area {
          height: 300px;
          overflow: hidden;
        }
      }
    }
    .img-section {
      .imgcontainer {
        .en {
          font-size: 1.5rem;
        }
      }
    }
    .mockup-section {
      .responsive {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .container {
    padding: 0 40px;
    .header-main {
      .header-main-right {
        bottom: 51%;
      }
    }
  }
  #header {
    height: 80vh;
    .cover-img-box {
      padding-top: 60px;
      width: 368px;
      .cover1 {
        width: 266px;
      }
      .cover2 {
        width: 234px;
        top: 73px;
      }
    }
    .cover_gif {
      padding-top: 0;
    }
  }
  #main{
    .about{
    .info-area{
    .left{
        .picture{
            height: 280px;
                .img-box{
                width: 180px;
                height: 230px;
            }
        }
            .info-text{
                .info{
                    display: block;
                    h2{padding-bottom: 10px;}
                }}
            }
        }
    }
    .project-list{margin-top: 100px;}
    .project-make{
        &.project-make-top{margin-top: 100px;}
        .top-area{
            .img-area{
                height: 200px;
                padding-bottom: 55px;
            }
            .text{.info-buttom{.site{
               width: 100%;
               position: absolute;
               left: 50%;
               transform: translateX(-50%);
               justify-content: center;
                .ko{margin-right: 15px;}
            }}}
        }
    }
    .img-section{display: none;}
    .mockup-section{display: none;}
    .wireframe{display: none;}
    .sub-page{display: none;}
}
}
