.container {
  padding: 0 300px;
  height: inherit;
  margin: 0 auto;
}

.title {
  font-size: 2.6rem;
  font-weight: 800;
  text-transform: uppercase;
}

.yellow-title {
  margin-bottom: 30px;
}

.yellow-title .en {
  font-size: 1.7rem;
  background-color: #817A65;
  color: #fafaf5;
  padding: 5px 25px;
  border-radius: 25px;
  width: -moz-fit-content;
  width: fit-content;
}

body {
  width: 100%;
  background: url(../img/bg.jpg) repeat-y center center/cover;
}

#header {
  width: 100%;
  height:100vh;
  position: relative;
  min-height: 200px;
}
#header .cover-img-box {
  width: 571px;
  height: 390px;
  position: absolute;
  z-index: 1;
  left: 54%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#header .cover-img-box img {
  /* width:60%; */
}

#header .cover-img-box .cover1 {
  width: 390px;
  position: absolute;
  z-index: 2;
  transition: .5s;
}

#header .cover-img-box .cover2 {
  top: 16px;
  width: 357px;
  position: absolute;
  z-index: 1;
  left: 39%;
  animation: rotateFlower 20s linear infinite;
}

@keyframes rotateFlower {
  0% {
    transform: rotate(0deg); /* 시작 상태 */
  }
  100% {
    transform: rotate(360deg); /* 끝 상태 */
  }
}

#header .cover-text-area {
  position: absolute;
  width: 100%;
  height: 996px;
  top: 30px;
  left: 0;
}
#header .cover-text-area .container .header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #C8C8C8;
}
#header .cover-text-area .container .header-nav .portfolio {
  font-size: 1.6875rem;
  text-transform: uppercase;
  padding-bottom: 5px;
}
#header .cover-text-area .container .header-nav .year {
  width: 100px;
  padding-bottom: 5px;
}
#header .cover-text-area .container .header-main {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
#header .cover-text-area .container .header-main .header-main-left .top .top-top {
  display: flex;
  align-items: center;
}

#header .cover-text-area .container .header-main .header-main-left .top .top-text {
  text-transform: uppercase;
  font-size: 2.8125rem;
  font-weight: 800;
  line-height: 1.5;
  display: block;
  transition: 0.3s ease-in-out;
}
#header .cover-text-area .container .header-main .header-main-left .top .top-text.web {
  padding-left: 120px;
}
#header .cover-text-area .container .header-main .header-main-left .bottom {
  position: absolute;
  bottom: 20%;
}
#header .cover-text-area .container .header-main .header-main-left .bottom .text-box {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

#header .cover-text-area .container .header-main .header-main-left .bottom .text-box:hover .speech-bubble .cls-1{
  fill:#555043;
}

#header .cover-text-area .container .header-main .header-main-left .bottom .text-box:hover h4{
  color:#ECEBDE;
}

#header .cover-text-area .container .header-main .header-main-left .bottom .text-box.text-box2 {
  margin-top: 20px;
}
#header .cover-text-area .container .header-main .header-main-left .bottom .text-box .speech-bubble {
  display: block;
  width: 285px;
  -o-object-fit: contain;
     object-fit: contain;
}
#header .cover-text-area .container .header-main .header-main-left .bottom .text-box .speech-bubble .cls-1 {
  fill: none;
  stroke: #555043;
  stroke-miterlimit: 10;
  transition: 0.5s ease-in-out;
}
#header .cover-text-area .container .header-main .header-main-left .bottom .text-box h4 {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 500;
  top: 17%;
  left: 12%;
}
#header .cover-text-area .container .header-main .header-main-left .bottom .introduce {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 40px;
}
#header .cover-text-area .container .header-main .header-main-right ul {
  width: 100%;
  height: 100%;
  display: flex;
}
#header .cover-text-area .container .header-main .header-main-right ul li {
  width: 100%;
  height: 100%;
}
#header .cover-text-area .container .header-main .header-main-right ul li:first-child {
  margin-right: 40px;
}
#header .cover-text-area .container .header-main .header-main-right ul li a {
  display: block;
}
#header .cover-text-area .container .header-main .header-main-right ul li a:hover .btn .flower {
  animation: flower 0.6s linear infinite;
}
#header .cover-text-area .container .header-main .header-main-right ul li a:hover h3::after {
  height: 100%;
}
#header .cover-text-area .container .header-main .header-main-right ul li a h3 {
  writing-mode: vertical-rl;
  font-size: 5.3125rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 100%;
  padding-bottom: 10px;
  position: relative;
  transition: 0.3s ease-in-out;
}
#header .cover-text-area .container .header-main .header-main-right ul li a h3::after {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to right, #ECEBDE 50%, transparent 50%);
  transition: 0.3s ease-in-out;
}
#header .cover-text-area .container .header-main .header-main-right ul li a .btn {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 30px 10px 30px 0;
  -o-object-fit: contain;
     object-fit: contain;
}
#header .cover-text-area .container .header-main .header-main-right ul li a .btn .flower {
  width: 100%;
  transition: transform 2s ease-in-out;
}
#header .cover-text-area .container .header-main .header-main-right ul li a .btn .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 17px;
}

#header .cover-text-area .container .header-main .header-main-right ul li a:hover .btn .flower {
  transform: rotate(360deg) scale(1.1);
}

#main {
  width: 100%;
  margin-top: 100px;
}
#main .about {
  width: 100%;
}
#main .about .info-area {
  width: 100%;
  height: inherit;
  display: flex;
  position: relative;
  border-bottom: 1px solid #817A65;
  margin-top: 55px;
}
#main .about .info-area::after {
  content: "";
  width: 100%;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  background: #817A65;
  z-index: -1;
  border-radius: 50px 50px 0;
}
#main .about .info-area .left {
  width: 37%;
  height: 100%;
}
#main .about .info-area .left .picture {
  width: 100%;
  height: 345px;
  margin-top: 35px;
  position: relative;
  border-bottom: 1px solid #817A65;
}
#main .about .info-area .left .picture::after {
  content: "";
  width: 100%;
  height: 195px;
  position: absolute;
  top: 0;
  left: 0;
  background: #817A65;
  z-index: -1;
}
#main .about .info-area .left .picture .img-box {
  width: 270px;
  height: 320px;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#main .about .info-area .left .info-text {
  width: 100%;
}
#main .about .info-area .left .info-text .info {
  width: 100%;
  display: flex;
  align-items: center;
}
#main .about .info-area .left .info-text .info:not(:last-child) {
  border-bottom: 1px solid #817A65;
}
#main .about .info-area .left .info-text .info h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 150px;
}
#main .about .info-area .left .info-text .info .ko {
  font-size: 1.1rem;
  color: #666;
  letter-spacing: -0.3px;
}
#main .about .info-area .left .info-text .name {
  height: 70px;
}
#main .about .info-area .left .info-text .contact {
  height: 132px;
}
#main .about .info-area .left .info-text .license {
  height: 140px;
}
#main .about .info-area .right {
  width: 63%;
  margin-top: 75px;
  border-left: 1px solid #817A65;
}
#main .about .info-area .right .introduce {
  height: 305px;
  border-bottom: 1px solid #817A65;
}
#main .about .info-area .right .introduce .introduce-text {
  padding: 30px 0 0 50px;
  width: 100%;
}
#main .about .info-area .right .introduce .introduce-text p {
  color: #666;
  letter-spacing: -0.6px;
  line-height: 160%;
}
#main .about .info-area .right .introduce .introduce-text h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
#main .about .info-area .right .introduce .introduce-text p {
  margin-top: 20px;
  font-size: 1.1rem;
  width: 90%;
}
#main .about .info-area .right .skill .text {
  display: flex;
}
#main .about .info-area .right .skill .text .box1 {
  width: 60%;
  padding: 20px 0 0 50px;
}
#main .about .info-area .right .skill .text .box1 h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
}
#main .about .info-area .right .skill .text .box1 p {
  margin-top: 20px;
  font-size: 1.1rem;
  line-height: 180%;
  width: 90%;
  color: #666;
}
#main .about .info-area .right .skill .text .box2 {
  padding: 70px 0 0 0;
}
#main .about .info-area .right .skill .text .box2 .text-box {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
#main .about .info-area .right .skill .text .box2 .text-box .speech-bubble {
  display: block;
  width: 260px;
  -o-object-fit: contain;
     object-fit: contain;
}
#main .about .info-area .right .skill .text .box2 .text-box .speech-bubble .cls-1 {
  fill: #555043;
  stroke: #555043;
  stroke-miterlimit: 10;
  transition: 0.5s ease-in-out;
}
#main .about .info-area .right .skill .text .box2 .text-box h4 {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 500;
  top: 18%;
  left: 20%;
  color: #ECEBDE;
}
#main .about .info-area .right .skill .icons {
  display: flex;
  padding: 20px 50px 0;
  flex-wrap: wrap;
  gap: 10px;
  width: 65%;
  padding-bottom: 20px;
}
#main .about .info-area .right .skill .icons .icon {
  width: 42px;
  height: 42px;
  -o-object-fit: contain;
     object-fit: contain;
}
#main .about .info-area .right .skill .icons .icon img {
  display: block;
  width: 100%;
}

#main .project-list {
  width: 100%;
  height: inherit;
  margin: 200px 0;
}
#main .project-list .list {
  width: 100%;
  margin-top: 60px;
  position: relative;
}
#main .project-list .list::after {
  content: "";
  width: 1px;
  height: 100%;
  background: #817A65;
  position: absolute;
  top: 0;
  left: 130px;
}
#main .project-list .list .item {
  width: 100%;
  border-top: 1px solid #817A65;
}
#main .project-list .list .item:last-child {
  border-bottom: 1px solid #817A65;
}
#main .project-list .list .item a {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 25px 0;
  position: relative;
}
#main .project-list .list .item a::after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to top, #ECEBDE 100%, transparent 50%);
  transition: 0.3s ease-in-out;
}
#main .project-list .list .item a:hover .btn .flower {
  transform: rotate(360deg);
}
#main .project-list .list .item a:hover::after {
  width: 100%;
}
#main .project-list .list .item a:hover .project-info {
  color: #555043;
}
#main .project-list .list .item a .numFont {
  font-size: 2.4rem;
  padding: 0 40px;
}
#main .project-list .list .item a .project-title {
  font-size: 1.6rem;
  font-weight: 500;
  padding-left: 80px;
  width: 20%;
}
#main .project-list .list .item a .project-info {
  font-size: 1.6rem;
  font-weight: 400;
  color: #DBD5C4;
  width: 60%;
}
#main .project-list .list .item a .btn {
  height: 65px;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
}
#main .project-list .list .item a .btn img {
  height: 100%;
}

#main .project-list .list .item a .btn .flower {
  transition: transform 0.6s linear;
}

#main .project-list .list .item a .btn .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: url(/img/btnArrow.png) no-repeat center center/contain;
}

#main .project-make {
  width: 100%;
  position: relative;
}
#main .project-make.project-make-top {
  margin-top: 200px;
}
#main .project-make .project-num {
  width: 100%;
  margin-bottom: 20px;
}
#main .project-make .project-num .numFont {
  font-size: 2rem;
  font-weight: 800;
}
#main .project-make .project-num .en {
  font-size: 1.8rem;
}
#main .project-make .top_bg {
  width: 100%;
  position: relative;
  z-index: -1;
}
#main .project-make .top_bg .imgbg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 460px;
  background: url(/img/airbusan1.png) no-repeat center center/cover;
  background-attachment: scroll;
  filter: brightness(70%);
}

/* 프로젝트2 */
#main .project-make .top_bg .imgbg2 {
  background: url(/img/8seconds2.png) no-repeat center center/cover;
}

/* 프로젝트3 */

#main .project-make .top_bg .imgbg3 {
  background: url(/img/movie2.png) no-repeat center center/cover;
}
#main .project-make .top_bg .imgbg4 {
  background: url(/img/cook2.png) no-repeat center center/cover;
}
#main .project-make .title {
  width: 100%;
  margin-top: 70px;
}
#main .project-make .title .en {
  font-size: 2.5rem;
  color: #FED932;
  opacity: 30%;
}
#main .project-make .title .ko {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 500;
  position: relative;
  top: -40px;
}
#main .project-make .top-area {
  width: 100%;
  display: flex;
  position: relative;
  z-index: 999;
}
#main .project-make .top-area .text {
  width: 50%;
  position: relative;
}
#main .project-make .top-area .text .project-info p {
  color: #fff;
  font-size: 1.2rem;
  line-height: 170%;
  font-weight: 300;
  letter-spacing: -0.5px;
}
#main .project-make .top-area .text .project-info p.program {
  width: 80%;
}
#main .project-make .top-area .text .info-buttom {
  position: absolute;
  bottom: 0;
  left: 0;
}
#main .project-make .top-area .text .info-buttom p {
  color: #666;
  font-size: 1.15rem;
  letter-spacing: -0.3px;
}
#main .project-make .top-area .text .info-buttom .site {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 25px;
  background: #ECEBDE;
  align-items: center;
  border-radius: 60px;
  margin-top: 30px;
}

#main .project-make .top-area .text .info-buttom .site .ko {
  color: #555043;
  font-size: 1.4rem;
  margin-right: 10px;
}
#main .project-make .top-area .text .info-buttom .site .btn {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

#main .project-make .top-area .img-area {
  width: 50%;
  height: auto; /* 이미지 비율 유지 */
  max-width: 600px; /* 최대 크기 제한 */
}

#main .project-make .top-area .img-area img {
  width: 100%;
  height: auto; /* 이미지 비율 유지 */
  max-width: 100%; /* 부모 요소를 넘어가지 않도록 */
  object-fit: contain; /* 이미지 왜곡 방지 */
}

#main .img-section {
  width: 100%;
  height: inherit;
  position: relative;
}
#main .img-section .imgcontainer {
  position: relative;
}
#main .img-section .imgcontainer .bar {
  width: 100%;
  height: 2px;
  background: #C8C8C8;
  margin: 200px 0 100px;
}
#main .img-section .imgcontainer .en {
  font-size: 2.85rem;
  font-weight: 800;
  top: 90px;
  padding-left: 20px;
}

#main .movie .imgcontainer .en {
  margin-bottom: 50px;
}



#main .img-section .imgcontainer img {
  width: 100%;
}
#main .img-section .imgcontainer .web {
  display: block;
}
#main .img-section .imgcontainer .mobile {
  display: none;
}

#main .concept {
  width: 100%;
  margin-top: 160px;
  position: relative;
  overflow: hidden;
}
#main .concept .concept-title {
  font-size: 2.6rem;
  font-weight: 800;
}

#main .concept .bar {
  width: 100%;
  height: 2px;
  background: #C8C8C8;
  margin: 20px 0 50px;
}
#main .concept .concept-top {
  display: flex;
}
#main .concept .concept-top .typo {
  margin-right: 160px;
}
#main .concept .concept-top .typo .typo-text .font {
  color: #666;
  font-size: 2.85rem;
  font-weight: 700;
}
#main .concept .concept-top .typo .typo-text .font.fontName {
  font-size: 1.42rem;
  font-weight: 400;
  margin-left: 40px;
}
#main .concept .concept-top .color .color-box {
  display: flex;
}
#main .concept .concept-top .color .color-box li {
  padding: 25px 35px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#main .concept .concept-top .color .color-box li.color1 {
  background: #2A3692;
  color: #fff;
}
#main .concept .concept-top .color .color-box li.color2 {
  background: #161C4E;
  color: #fff;
}
#main .concept .concept-top .color .color-box li.color3 {
  background: #515151;
  color: #fff;
}
#main .concept .concept-top .color .color-box li.color4 {
  background: #F62F2F;
  color: #fafaf5;
}
#main .concept .concept-top .color .color-box li.color5 {
  background: #B3B3B3;
  color: #fafaf5;
}
#main .concept .concept-top .color .color-box li.color6 {
  background: #535353;
  color: #fff;
}
#main .concept .concept-top .color .color-box li.color7 {
  background: #FFD700;
  color: #fff;
}
#main .concept .concept-top .color .color-box li.color8 {
  background: #1B1B1B;
  color: #fafaf5;
}

#main .concept .concept-top .color .color-box li.color9 {
  background-color: #2b2b2b;
  color:#fafaf5
}
#main .concept .concept-top .color .color-box li.color10{
  background-color: #6C584C;
  color:#fafaf5
}
#main .concept .concept-top .color .color-box li.color11 {
  background-color: #D6CCC2;
  color:#fafaf5
}
#main .concept .concept-top .color .color-box li.color12{
  background-color: #535353;
  color:#fafaf5
}
#main .concept .concept-bottom {
  width: 100%;
  margin-top: 50px;
}

#main .concept .concept-bottom .title2{
  margin-top: 35px;
}
#main .concept .concept-bottom .reson1 {
  margin-bottom: 50px;
}
#main .concept .concept-bottom .reson-text p {
  width: 65%;
  color: #666;
  font-size: 1.4rem;
  line-height: 170%;
}
#main .concept .concept-bottom .belnder-img {
  width: 100%;
  display: block;
  padding-top: 20px;
  /* transform: scale(80%); */
}
#main .concept .flower-big {
  position: absolute;
  top: 0;
  right: -5%;
  opacity: 0.4;
  width: 600px;
}
#main .concept .flower-big img {
  display: block;
  width: 100%;
}

@media screen and (max-width: 770px) {
  .container {
    padding: 0 40px;
  }
  #header .cover-text-area .container .header-nav {
    border: none;
  }
  #header .cover-text-area .container .header-nav .portfolio {
    font-size: 1.1rem;
  }

  #header .cover-text-area .container .header-main {
    margin-top: 10px;
    display: block;
  }
  #header .cover-text-area .container .header-main .header-main-left .top .top-top {
    align-items: center;
  }

  #header .cover-text-area .container .header-main .header-main-left .top .top-text {
    font-size: 1rem;
  }
  #header .cover-text-area .container .header-main .header-main-left .top .top-text.web {
    padding-left: 0;
    display: inline;
  }

  #header .cover-text-area .container .header-main .header-main-left .bottom .text-box {
    display: none;
  }

  #header .cover-text-area .container .header-main .header-main-right {
    position: absolute;
    width: 100%;
    bottom: 15%;
    left: 0;
  }
  #header .cover-text-area .container .header-main .header-main-right ul {
    display: flex;
    justify-content: space-around;
  }
  #header .cover-text-area .container .header-main .header-main-right ul li:first-child {
    margin-right: 0;
  }
  #header .cover-text-area .container .header-main .header-main-right ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #header .cover-text-area .container .header-main .header-main-right ul li a:hover .btn .flower {
    animation: flower 0.6s linear infinite;
  }
  #header .cover-text-area .container .header-main .header-main-right ul li a:hover h3::after {
    width: 100%;
  }
  #header .cover-text-area .container .header-main .header-main-right ul li a h3 {
    writing-mode: inherit;
    font-size: 1.4rem;
  }
  #header .cover-text-area .container .header-main .header-main-right ul li a h3::after {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(to top, #FED932 50%, transparent 50%);
    transition: 0.3s ease-in-out;
  }
  #header .cover-text-area .container .header-main .header-main-right ul li a .btn {
    margin: 0 0 0 10px;
  }
}